commons-vfs2/src/test/resources/test-data/read-xml-tests/name.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://www.apache.org/vfs/example/name"
  xmlns="https://www.apache.org/vfs/example/name"
  elementFormDefault="qualified">

  <xs:element
    name="name"
    type="nameType" />

  <xs:complexType name="nameType">
    <xs:sequence>
      <xs:element
        name="first"
        type="xs:string" />
      <xs:element
        name="middle"
        type="xs:string" />
      <xs:element
        name="last"
        type="xs:string" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
